<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('管理员分配的学生列表')"/>
    <th:block th:include="include :: layout-latest-css"/>
</head>
<body class="gray-bg">
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer"/>
<th:block th:include="include :: layout-latest-js"/>
<script th:inline="javascript">
    var prefix = ctx + "teacher/commit";
    var editFlag = true;
    var removeFlag = true;

    $(function () {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({initClosed: panehHidden, west__size: 185});
        // 回到顶部绑定
        if ($.fn.toTop !== undefined) {
            var opt = {
                win: $('.ui-layout-center'),
                doc: $('.ui-layout-center')
            };
            $('#scroll-up').toTop(opt);
        }
        queryUserList();
    });

    function queryUserList() {
        var options = {
            url: prefix + "/selectList",
            updateUrl: prefix + "/editTwo/{id}",
            modalName: "学生成绩信息",
            columns: [{
                    checkbox: true
                },
                {
                    field: 'stuId',
                    title: '学生ID'
                },
                {
                    field: 'stuNum',
                    title: '学号'
                },
                {
                    field: 'stuName',
                    title: '姓名'
                },
                {
                    field: 'stuClass',
                    title: '班级'
                },
                {
                    field: 'stuTel',
                    title: '联系方式'
                },
                {
                    field: 'two_machine_score',
                    title: '第二题机试成绩'
                },
                /*{
                    field: 'interviewResult',
                    title: '面试成绩'
                },*/
                {
                    field: 'twoMsStatus',
                    title: '成绩状态'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTabSpe(\'' + row.stuId + '\',\'' + row.two_machine_score + '\',\'' + row.interviewResult + '\',\'' + row.twoMsStatus + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    }
</script>
</body>
</html>