<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('教师已选择的学生列表')" />
    <th:block th:include="include :: layout-latest-css" />
</head>
<body class="gray-bg">
<div class="ui-layout-center">
    <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="stu-form">
                    <div class="select-list">
                        <ul>
                            <li>
                                年级：<input type="text" name="stuPeriod"/>
                            </li>
                            <li>
                                实践环节：<select name="practiceName">
                                <option value="">所有</option>
                                <option th:each="practice : ${practiceList}" th:text="${practice.practiceName}" th:value="${practice.practiceName}"></option>
                            </select>
                            <li>
                                学生姓名：<input type="text" name="stuName"/>
                            </li>
                            <li>
                                学号：<input type="text" name="stuNum"/>
                            </li>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-warning" onclick="$.table.exportExcel()">
                    <i class="fa fa-download"></i> 导出
                </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
</div>

<th:block th:include="include :: footer" />
<th:block th:include="include :: layout-latest-js" />
<script th:inline="javascript">
    var prefix = ctx + "teacher/mystu";
    var editFlag = true;
    $(function() {
        var panehHidden = false;
        if ($(this).width() < 769) {
            panehHidden = true;
        }
        $('body').layout({ initClosed: panehHidden, west__size: 185 });
        // 回到顶部绑定
        if ($.fn.toTop !== undefined) {
            var opt = {
                win:$('.ui-layout-center'),
                doc:$('.ui-layout-center')
            };
            $('#scroll-up').toTop(opt);
        }
        queryUserList();
    });

    function queryUserList() {
        var options = {
            url: prefix + "/list",
            exportUrl: prefix + "/export",
            updateUrl: prefix + "/edit/{id}/{practiceId}",
            auditUrl: prefix + "/audit/{id}/{practiceId}",
            modalName: "我的学生",
            columns: [{
                checkbox: true
            },
                {
                    field: 'stuId',
                    title: '学生ID'
                },
                {
                    field: 'stuName',
                    title: '姓名'
                },
                {
                    field: 'stuNum',
                    title: '学号'
                },
                {
                    field: 'stuPeriod',
                    title: '年级'
                },
                {
                    field: 'stuClass',
                    title: '班级'
                },
                {
                    field: 'practiceName',
                    title: '实践环节'
                },
                {
                    field: 'stuPracticeName',
                    title: '课题名称'
                },
                {
                    field: 'status',
                    title: '课题通过状态'
                },
                {
                    field: 'practiceId',
                    title: '实践环节ID',
                    visible: false
                },
                {
                    field: 'score',
                    title: '成绩'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTabSpec(\'' + row.stuId + '\',\'' + row.score + '\',\'' + row.practiceId + '\',\'' + row.stuPracticeName + '\')"><i class="fa fa-edit"></i>提交成绩</a> ');
                        actions.push('<a class="btn btn-warning btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTabAudit(\'' + row.stuId + '\',\'' + row.status + '\',\'' + row.practiceId + '\')"><i class="fa fa-check"></i>题目提交审核</a> ');
                        actions.push('<a class="btn btn-default btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.editTabSpecial(\'' + row.stuId + '\',\'' + row.status + '\',\'' + row.practiceId + '\')"><i class="fa fa-check"></i>查看周报</a> ');
                        return actions.join('');
                    }
                }
                ]
        };
        $.table.init(options);
    }
</script>
</body>
</html>