<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.es.teacher.mapper.CoursePracticeMapper">

    <!--查询所有实践环节的名称-->
    <select id="selectAllPractice" resultType="map">
        SELECT
            practice_name practiceName
        FROM
            course_practice
        ORDER BY
            practice_id
    </select>

</mapper> 