<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
	<th:block th:include="include :: header('修改用户')" />
	<th:block th:include="include :: select2-css" />
</head>
<body>
<div class="main-content">
	<form class="form-horizontal" id="form-user-edit" th:object="${vo}">
		<h4 class="form-header h4">基本信息</h4>
		<div class="row"  >
			<div class="col-sm-6" >
				<div class="form-group">
					<label class="col-sm-4 control-label is-required">届数：</label>
					<div class="col-sm-8">
						<input name="period" class="form-control" type="text" readonly="true" th:field="*{period}"/>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="form-group">
					<label class="col-sm-4 control-label is-required">预选拔人数：</label>
					<div class="col-sm-8">
						<input name="processPersonNum" th:disabled="${vo.processStatus  != 1}" placeholder="请输入预选拔人数" class="form-control" type="text" maxlength="4"  required>
					</div>
				</div>
			</div>
		</div>
		<h4 class="form-header h4" align="center" th:hidden="${vo.processStatus  == 1}" style="color: red" >预选拔已经结束!</h4>
	</form>
</div>
<div class="row">
	<div class="col-sm-offset-5 col-sm-10">
		<button id="buttonDisabled" type="button" class="btn btn-sm btn-primary" th:disabled="${vo.processStatus  != 1}" onclick="submitHandler()" ><i class="fa fa-check"></i>预选拔</button>&nbsp;
		<button type="button" class="btn btn-sm btn-danger" onclick="closeItem()"><i class="fa fa-reply-all"></i>关 闭 </button>
	</div>
</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: select2-js" />
<script type="text/javascript">
	var prefix = ctx + "manager/teacher/set";


	function submitHandler() {
		document.getElementById("buttonDisabled").setAttribute("disabled",true);
		if ($.validate.form()) {
			var data = $("#form-user-edit").serializeArray();
			$.operate.post(prefix + "/firstProcessStudent/toTwoProcess", data);
		}
	}

</script>
</body>
</html>